@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'poppins', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.6));
}

header{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 170px 15px 15px;
}

.search-box{
    background-color: rgba(255, 255, 255, 0.2);
}

header input{
    border: none;
    outline: none;
    background-color: grey;
    border-radius: 20px;
    
    width: 100%;
    padding: 10px 15px;
    max-width: 300px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    fon
}

main{
    align-items: center;
    display: flex;
    text-align: center;
    padding: 25px 25px 25px;
    flex-direction: column;
}

.loactions .date{
    color: #fff;
    transform: translateY(30px);
}
.city, .date{
    font-size: 18px;
    font-style: bold;
}

.current .temp{
    color: #fff;
    font-size: 102px;
    font-weight: 900;
}

.mark{
    border: 2px solid #fff;
    border-radius: 20px;
    width: 400px;
    margin: auto;
}

.current .temp span{
    font-weight: 500;
}

.current .weather{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5px;
}

.weather{
    padding-bottom: 2px;
}

.current .hi-low{
    color: #fff;
    padding-top: 0;
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (max-width:425px) {
    .mark{
        max-width:325px;
        margin-top: 20px;
    }
    
}